<h1>Depósito</h1>

<small>
  {{ formGroup.value | json }}
  {{ formGroup.valid }}
</small>

<form [formGroup]="formGroup" (submit)="depositar()">
  <div class="mb-3">
    <label for="">Agência</label>
    <input type="text" class="form-control" formControlName="agencia">
  </div>
  <div class="mb-3">
    <label for="">Número da conta</label>
    <input type="text" class="form-control" formControlName="numeroConta">
  </div>
  <div class="mb-3">
    <label for="">Valor</label>
    <input type="text" class="form-control" formControlName="valor">
  </div>

  <button type="submit" [disabled]="!formGroup.valid" class="btn btn-dark">Depositar</button>
</form>
