<h1>Saque</h1>
<hr>

<small>
  {{ formGroup.value | json }}
  {{ formGroup.valid }}
</small>
<p>

<form [formGroup]="formGroup" (submit)="sacar()">
  <div class="mb-3">
    <label for="" >Agência</label>
    <input type="text" class="form-control" formControlName="agencia">
  </div>
  <div class="mb-3">
    <label for="">Número da Conta</label>
    <input type="text" class="form-control" formControlName="numeroConta">
  </div>
  <div class="mb-3">
    <label for="" >Valor</label>
    <input type="text" class="form-control" formControlName="valor">
  </div>

  <button type="submit" [disabled]="!formGroup.valid" class="btn btn-dark">Sacar</button>
</form>
