<h1>Cadastrar cliente</h1>

<div *ngIf="showAlert" class="alert alert-success" role="alert" style="white-space: pre;">
  <strong>Yahaha! You found me!</strong> {{ alertTitle }}
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="nome" class="form-label">Nome</label>
    <input  id="nome" type="text" class="form-control" formControlName="nome">
  </div>

  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input  id="email" type="email" class="form-control" formControlName="email">
  </div>

  <div class="mb-3">
    <label for="cpf" class="form-label">CPF</label>
    <input id="cpf" type="text" class="form-control" formControlName="cpf">
  </div>

  <div class="mb-3">
    <label for="observacoes" class="form-label">Observações</label>
    <input id="observacoes" type="text" class="form-control" formControlName="observacoes">
  </div>

  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="ativo" formControlName="ativo">
    <label class="form-check-label" for="ativo">Ativo</label>
  </div>

  <app-button textoBotao="Cadastrar" routerLinkActive="active"></app-button>
</form>
