<h1>Clientes</h1>

<div class="mb-4" *ngIf="!clientes.length" >
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  Waiting for...
</div>

<table *ngIf="clientes.length" class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">CPF</th>
      <th scope="col">E-mail</th>
      <th scope="col">Observações</th>
      <th scope="col">Ativo</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cliente of clientes">
      <td>{{ cliente.id }}</td>
      <td>{{ cliente.nome }}</td>
      <td>{{ cliente.cpf }}</td>
      <td>{{ cliente.email}}</td>
      <td>{{ cliente.observacoes }}</td>
      <td>
        <i *ngIf="cliente.ativo" class="fas fa-thumbs-up text-success"></i>
        <i *ngIf="!cliente.ativo" class="fas fa-thumbs-down text-danger"></i>
      </td>
      <td>
        <a class="btn btn-danger btn-small" (click)="confirmar(cliente.id)">Remover</a>
      </td>
    </tr>
  </tbody>
</table>

<a class="btn btn-dark" routerLink="cadastrar">Cadastrar novo</a>
