<h1>Cadastrar contas</h1>
<hr>

<small>
  {{ formGroup.value | json }}
  {{ formGroup.valid }}
</small>
<p>

<form [formGroup]="formGroup" (submit)="enviar()">
  <div class="mb-3">
    <label for="">Agência</label>
    <input type="text" class="form-control" formControlName="agencia">
  </div>
  <div class="mb-3">
    <label for="">Número da conta</label>
    <input type="text" class="form-control" formControlName="numero">
  </div>
  <div class="mb-3">
    <label for="">Saldo</label>
    <input type="text" class="form-control" formControlName="saldo">
  </div>
  <div class="mb-3">
    <label for="">Selecione um cliente</label>
    <select class="form-select" formControlName="cliente">
      <option *ngFor="let c of clientes" [ngValue]="c">{{ c.nome }}</option>
    </select>
  </div>

  <button type="submit" [disabled]="!formGroup.valid" class="btn btn-dark">
    <span *ngIf="showSpinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Cadastrar
  </button>

</form>

